.olx-header {
  background-color: #0057ff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.olx-logo img {
  height: 35px;
}

.olx-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.olx-nav li {
  margin-right: 20px;
}

.olx-nav h3 {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.olx-nav h3:hover {
  color: #ff6700;
  cursor: pointer;
}

.olx-search input[type="text"] {
  padding: 12px;
  border: none;
  border-radius: 4px;
}

.olx-search button {
  background-color: #ff6700;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.olx-search button:hover {
  background-color: #e55b00;
}

.olx-footer {
  background-color: #002f34;
  color: #fff;
  padding: 20px 0;
}

.olx-footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #ff6700;
}

.olx-footer-bar {
  background-color: #002322;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.butt {
  border: 1px solid rgb(247, 245, 245);
  border-radius: 10px;
  width: 130px;
  height: 45px;
  color: white;
  background-color: #0057ff;
  font-size: 21px;
}

.butt:hover {
  background-color: #2052b6;
}

.container {
  display: inline-block;
  width: 320px;
  height: 350px;
  color: black;
  border: '1px solid black';
  box-shadow: 'black 7px 13px 17px -2px';
  background-color: white;
  margin: 5px;
}

.details {
  width: 500px;
  height: 550px;
  font-size: 12px;
  background-color: rgb(217, 209, 209);
  color: black;
}